<!DOCTYPE html>
<html>
  <head>
    <title>Top Quality Quotes!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
    <footer>
      Icons made by<a href="http://www.freepik.com" title="Freepik" target="_blank" rel="noopener">Freepik</a> and <a href="https://www.flaticon.com/authors/spovv" title="spovv" target="_blank" rel="noopener">spovv</a> from <a href="https://www.flaticon.com/" target="_blank" rel="noopener">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licences/by/3.0/" title="Creative Commons BY 3.0" target="_blank" rel="noopener">CC 3.0 BY</a>
    </footer>

  </body>
</html>
